<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Vision</h2>
                    <h3 class="section-subheading text-muted">Combining ML and physics could reveal the best of both worlds.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-magnet fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Physics</h4>
                    <p class="text-muted">Physical models have been used to describe the world around us. If we have sufficient information about a process, a well-made physical model can accurately predict future events. These models have been used for vastly differenct processes ranging from predicting the trajectory of a rocket to predicting the behavior of nano-scale objects. However such models are difficult to define when we have no direct understanding of the underlying scenario.</p>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-file-code-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Machine Learning</h4>
                    <p class="text-muted"> Techological advancements have made possible the collection of vast amounts of data and a dramatic increase in computational power has created the possibility of analyzing collected data in reasonable time using modern statistical and machine learning (ML) approaches. Even though such data-driven models have outperformed physics based models in many areas, they are data hungry and generalization remains to be a challenge.</p>
                </div>

                <div class="col-md-12">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-magnet fa-stack-1x fa-inverse"></i>
                    </span>
                    <span style="font-size:25px; transform: scale(2, 4);">&#43;</span>
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-file-code-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Physics Based Learning Models</h4>
                    <p class="text-muted">What if we could combine the computational data-driven method of machine learning with the scientifically driven method of physical models? Machine learning algorithms learn by searching for an optimal solution in the optimization space defined by our neural network architecture, inputs and outputs. On their own, machine learning algorithms only use data as a guide to search for an optimial solution. We could however develop models, known as Physics Based Learning Models which use the knowledge of the world, that is, physics together with data to look for an optimal solution.</p>
                </div>
            </div>
        </div>
    </section>